[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "2.156.0"
prompt-toolkit = "3.0.48"
python-dotenv = "1.0.1"
rich = "*"

[dev-packages]

[requires]
python_version = "3.12"
